.h2{
  text-align: center;
  font-size: 38px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
  text-align: center;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 
   .testimonials_item {
    margin-bottom: 30px;
  }
  
   .h4 {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    color: #191919;
  }
  .p {
    color: #4c4c4c;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
  .details_link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #333333;
  }
  .details_link:hover {
    color: #cc1616;
  }
   .details_link {
    right: 10px;
  }
  .testimonials .testimonials_item .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  .testimonials .testimonials_item .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  .testimonials .testimonials_item .portfolio-links a:hover {
    color: #e82d2d;
  }
  .testimonials .testimonials_item:hover .testimonials_info{
    opacity: 1;
    bottom: 20px;
  }
  
  
  .portfolio-details {
    padding-top: 40px;
  }
 
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #cc1616;
  }
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #cc1616;
  }
  .portfolio-details .testimonials_info{
    padding: 30px;
    box-shadow: 0px 0 30px rgba(25, 25, 25, 0.08);
  }
  .portfolio-details .testimonials_infoh3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  .portfolio-details .testimonials_info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  .portfolio-details .testimonials_info ul li + li {
    margin-top: 10px;
  }
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  